.global-layout {
  min-height: 100vh;

  .header {
    padding: 0px 24px;

    .logo {
      float: left;
      width: 120px;
      height: 31px;
      margin: 16px 24px 16px 0;
      background: rgba(255, 255, 255, 0.3);
    }
  }

  .content {
    padding: 24px;

    .breadcrumb {
      margin-bottom: 24px;
    }
  }

  .footer {
    text-align: center;
  }
}
